@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ppFont;
  src: url('../public/font.otf');
}

:root {
  --header-color: #d9d9d9;
  --primary-color: #321907;
  --secondary-color: #e87e00;
  --gray-color: gray;
  --red-color: red;
  background: var(--secondary-color);
  color: var(--primary-color);
}

html,
body {
  overflow: hidden;
  font-family: ppFont !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.frame {
  background: var(--header-color);
  display: flex;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.window {
  position: absolute;
  background: var(--header-color);
  border-width: 1.5px;
  border-color: var(--text-color);
}

.no-drag {
  -webkit-user-drag: none;
  user-select: none;
}

button {
  color: blue;
}

button:disabled {
  text-decoration: none;
  cursor: not-allowed;
  color: var(--gray-color);
}

textarea {
  background: none;
}

textarea:focus {
  outline: none;
}

.button {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--header-color);
  border: 1.5px solid var(--primary-color);
  cursor: grab;
}
